.button {
    position: relative;
    height: 44px;
    width: 44px;
    color: #3d5278 !important;

    border: 1px solid rgba(195, 212, 233, 0.8) !important;
    border-radius: 90px;

    :hover {
        color: #3563e9;
    }
    
}
.reddote:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 11px;
    height: 11px;
    background: red;
    border-radius: 90px;
    z-index: 99;
}

.button__likes {
    :hover {
        color: red;
    }
}
